.main-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.inner-modal {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.close {
    text-align: right;
}

.inp-edit {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.save-button {
    width: 100%;
    padding: 10px;
    background-color: #231b6e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-button:hover {
    background-color: #468b97;
}
